@page
@model WebAnalyser.Pages.MyTestModel
@{
    Layout = "";
}

<!DOCTYPE html>
<html>
  <head>
    <title>Heatmaps</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
  </head>
  <body>
      <script>

let map, heatmap;

function initMap() {
    console.log("someTest");

  map = new google.maps.Map(document.getElementById("map"), {
    zoom: 15,
    center: { lat: 49.00543342, lng: 8.40356469 },
    mapTypeId: "satellite",
  });
  console.log(map);
  heatmap = new google.maps.visualization.HeatmapLayer({
    data: getPoints(),
    map: map,
  });
    console.log(heatmap);
  document
    .getElementById("change-gradient")
    .addEventListener("click", changeGradient);
  document
    .getElementById("change-opacity")
    .addEventListener("click", changeOpacity);
  document
    .getElementById("change-radius")
    .addEventListener("click", changeRadius);
}


function changeGradient() {
  const gradient = [
    "rgba(0, 255, 255, 0)",
    "rgba(0, 255, 255, 1)",
    "rgba(0, 191, 255, 1)",
    "rgba(0, 127, 255, 1)",
    "rgba(0, 63, 255, 1)",
    "rgba(0, 0, 255, 1)",
    "rgba(0, 0, 223, 1)",
    "rgba(0, 0, 191, 1)",
    "rgba(0, 0, 159, 1)",
    "rgba(0, 0, 127, 1)",
    "rgba(63, 0, 91, 1)",
    "rgba(127, 0, 63, 1)",
    "rgba(191, 0, 31, 1)",
    "rgba(255, 0, 0, 1)",
  ];

  heatmap.set("gradient", heatmap.get("gradient") ? null : gradient);
}

function changeRadius() {
  heatmap.set("radius", heatmap.get("radius") ? null : 20);
}

function changeOpacity() {
  heatmap.set("opacity", heatmap.get("opacity") ? null : 0.2);
}

// Heatmap data: 500 Points
function getPoints() {
  return [
    new google.maps.LatLng(49.002551, 8.445368),
    new google.maps.LatLng(49.002745, 8.444586),
    new google.maps.LatLng(49.002842, 8.443688),
    new google.maps.LatLng(49.002919, 8.442815),
    new google.maps.LatLng(49.002992, 8.442112),
    new google.maps.LatLng(49.0031, 8.441461),
    new google.maps.LatLng(49.003206, 8.440829),
    new google.maps.LatLng(49.003273, 8.440324),
    new google.maps.LatLng(49.003316, 8.440023),
    new google.maps.LatLng(49.003357, 8.439794),
    new google.maps.LatLng(49.003371, 8.439687),
    new google.maps.LatLng(49.003368, 8.439666),
    new google.maps.LatLng(49.003383, 8.439594),
    new google.maps.LatLng(49.003508, 8.439525),
    new google.maps.LatLng(49.003842, 8.439591),
    new google.maps.LatLng(49.004147, 8.439668),
    new google.maps.LatLng(49.004206, 8.439686),
    new google.maps.LatLng(49.004386, 8.43979),
    new google.maps.LatLng(49.004701, 8.439902),
    new google.maps.LatLng(49.004965, 8.439938),
    new google.maps.LatLng(49.00501, 8.439947),
    new google.maps.LatLng(49.00536, 8.439952),
    new google.maps.LatLng(49.005715, 8.44003),
    new google.maps.LatLng(49.006117, 8.440119),
    new google.maps.LatLng(49.006564, 8.440209),
    new google.maps.LatLng(49.006905, 8.44027),
    new google.maps.LatLng(49.006956, 8.440279),
    new google.maps.LatLng(37.800224, 8.43352),
    new google.maps.LatLng(37.800155, 8.434101),
    new google.maps.LatLng(37.80016, 8.43443),
    new google.maps.LatLng(37.800378, 8.434527),
    new google.maps.LatLng(37.800738, 8.434598),
    new google.maps.LatLng(37.800938, 8.43465),
    new google.maps.LatLng(37.801024, 8.434889),
    new google.maps.LatLng(37.800955, 8.435392),
    new google.maps.LatLng(37.800886, 8.435959),
    new google.maps.LatLng(37.800811, 8.436275),
    new google.maps.LatLng(37.800788, 8.436299),
    new google.maps.LatLng(37.800719, 8.436302),
    new google.maps.LatLng(37.800702, 8.436298),
    new google.maps.LatLng(37.800661, 8.436273),
    new google.maps.LatLng(37.800395, 8.436172),
    new google.maps.LatLng(37.800228, 8.436116),
    new google.maps.LatLng(37.800169, 8.43613),
    new google.maps.LatLng(37.800066, 8.436167),
    new google.maps.LatLng(49.004345, 8.422922),
    new google.maps.LatLng(49.004389, 8.422926),
    new google.maps.LatLng(49.004437, 8.422924),
    new google.maps.LatLng(49.004746, 8.422818),
    new google.maps.LatLng(49.005436, 8.422959),
    new google.maps.LatLng(49.00612, 8.423112),
    new google.maps.LatLng(49.006433, 8.423029),
    new google.maps.LatLng(49.006631, 8.421213),
    new google.maps.LatLng(49.00666, 8.421033),
    new google.maps.LatLng(49.006801, 8.420141),
    new google.maps.LatLng(49.006823, 8.420034),
    new google.maps.LatLng(49.006831, 8.419916),
    new google.maps.LatLng(49.007034, 8.418208),
    new google.maps.LatLng(49.007056, 8.418034),
    new google.maps.LatLng(49.007169, 8.417145),
    new google.maps.LatLng(49.007217, 8.416715),
    new google.maps.LatLng(49.006144, 8.416403),
    new google.maps.LatLng(49.005292, 8.416257),
    new google.maps.LatLng(49.000666, 8.410374),
    new google.maps.LatLng(49.000501, 8.411281),
    new google.maps.LatLng(49.000148, 8.412052),
    new google.maps.LatLng(49.000173, 8.411148),
    new google.maps.LatLng(49.000693, 8.410592),
    new google.maps.LatLng(49.001261, 8.411142),
    new google.maps.LatLng(49.001808, 8.41173),
    new google.maps.LatLng(49.00234, 8.412341),
    new google.maps.LatLng(49.002812, 8.413022),
    new google.maps.LatLng(49.0033, 8.413672),
    new google.maps.LatLng(49.003809, 8.414275),
    new google.maps.LatLng(49.004246, 8.414979),
    new google.maps.LatLng(49.004791, 8.415958),
    new google.maps.LatLng(49.005675, 8.416746),
    new google.maps.LatLng(49.006262, 8.41578),
    new google.maps.LatLng(49.006776, 8.415093),
    new google.maps.LatLng(49.007282, 8.414426),
    new google.maps.LatLng(49.007783, 8.413767),
    new google.maps.LatLng(49.008343, 8.413184),
    new google.maps.LatLng(49.008895, 8.412506),
    new google.maps.LatLng(49.009371, 8.411701),
    new google.maps.LatLng(49.009722, 8.410952),
    new google.maps.LatLng(48.990315, 8.410305),
    new google.maps.LatLng(48.990738, -122.389616),
    new google.maps.LatLng(48.979448, 8.438702),
    new google.maps.LatLng(48.979023, 8.438585),
    new google.maps.LatLng(48.978542, 8.438492),
    new google.maps.LatLng(48.9781, 8.438411),
    new google.maps.LatLng(48.977986, 8.438376),
    new google.maps.LatLng(48.97768, 8.438313),
    new google.maps.LatLng(48.977316, 8.438273),
    new google.maps.LatLng(48.977135, 8.438254),
    new google.maps.LatLng(48.976987, 8.438303),
    new google.maps.LatLng(48.976946, 8.438404),
    new google.maps.LatLng(48.976944, 8.438467),
    new google.maps.LatLng(48.976892, 8.438459),
    new google.maps.LatLng(48.976842, 8.438442),
    new google.maps.LatLng(48.976822, 8.438391),
    new google.maps.LatLng(48.976814, 8.438412),
    new google.maps.LatLng(48.976787, 8.438628),
    new google.maps.LatLng(48.976729, 8.43865),
    new google.maps.LatLng(48.976759, 8.438677),
    new google.maps.LatLng(48.976772, 8.438498),
    new google.maps.LatLng(48.976787, 8.438389),
    new google.maps.LatLng(48.976848, 8.438283),
    new google.maps.LatLng(48.97687, 8.438239),
    new google.maps.LatLng(48.977015, 8.438198),
    new google.maps.LatLng(48.977333, 8.438256),
    new google.maps.LatLng(48.977595, 8.438308),
    new google.maps.LatLng(48.977797, 8.438344),
    new google.maps.LatLng(48.97816, 8.438442),
    new google.maps.LatLng(48.978414, 8.438508),
    new google.maps.LatLng(48.978445, 8.438516),
    new google.maps.LatLng(48.978503, 8.438529),
    new google.maps.LatLng(48.978607, 8.438549),
    new google.maps.LatLng(48.97867, 8.438644),
    new google.maps.LatLng(48.978847, 8.438706),
    new google.maps.LatLng(48.97924, 8.438744),
    new google.maps.LatLng(48.979738, 8.438822),
    new google.maps.LatLng(49.000201, 8.438882),
    new google.maps.LatLng(49.0004, 8.438905),
    new google.maps.LatLng(49.000501, 8.438921),
    new google.maps.LatLng(49.000892, 8.438986),
    new google.maps.LatLng(49.001446, 8.439087),
    new google.maps.LatLng(49.001985, 8.439199),
    new google.maps.LatLng(49.002239, 8.439249),
    new google.maps.LatLng(49.002286, 8.439266),
    new google.maps.LatLng(48.997847, 8.429388),
    new google.maps.LatLng(48.997874, 8.42918),
    new google.maps.LatLng(48.997885, 8.429069),
    new google.maps.LatLng(48.997887, 8.42905),
    new google.maps.LatLng(48.997933, 8.428954),
    new google.maps.LatLng(48.998242, 8.42899),
    new google.maps.LatLng(48.998617, 8.429075),
    new google.maps.LatLng(48.998719, 8.429092),
    new google.maps.LatLng(48.998944, 8.429145),
    new google.maps.LatLng(48.99932, 8.429251),
    new google.maps.LatLng(48.99959, 8.429309),
    new google.maps.LatLng(48.999677, 8.429324),
    new google.maps.LatLng(48.999966, 8.42936),
    new google.maps.LatLng(37.800288, 8.42943),
    new google.maps.LatLng(37.800443, 8.429461),
    new google.maps.LatLng(37.800465, 8.429474),
    new google.maps.LatLng(37.800644, 8.42954),
    new google.maps.LatLng(37.800948, 8.42962),
    new google.maps.LatLng(37.801242, 8.429685),
    new google.maps.LatLng(37.801375, 8.429702),
    new google.maps.LatLng(37.8014, 8.429703),
    new google.maps.LatLng(37.801453, 8.429707),
    new google.maps.LatLng(37.801473, 8.429709),
    new google.maps.LatLng(37.801532, 8.429707),
    new google.maps.LatLng(37.801852, 8.429729),
    new google.maps.LatLng(37.802173, 8.429789),
    new google.maps.LatLng(37.802459, 8.429847),
    new google.maps.LatLng(37.802554, 8.429825),
    new google.maps.LatLng(37.802647, 8.429549),
    new google.maps.LatLng(37.802693, 8.429179),
    new google.maps.LatLng(37.802729, 8.428751),
    new google.maps.LatLng(48.966104, 8.409291),
    new google.maps.LatLng(48.966103, 8.409268),
    new google.maps.LatLng(48.966138, 8.409229),
    new google.maps.LatLng(48.966183, 8.409231),
    new google.maps.LatLng(48.966153, 8.409276),
    new google.maps.LatLng(48.966005, 8.409365),
    new google.maps.LatLng(48.965897, 8.40957),
    new google.maps.LatLng(48.965767, 8.409739),
    new google.maps.LatLng(48.965693, 8.410389),
    new google.maps.LatLng(48.965615, 8.411201),
    new google.maps.LatLng(48.965533, 8.412121),
    new google.maps.LatLng(48.965467, 8.412939),
    new google.maps.LatLng(48.965444, 8.414821),
    new google.maps.LatLng(48.965444, 8.414964),
    new google.maps.LatLng(48.965318, 8.415424),
    new google.maps.LatLng(48.963961, 8.415296),
    new google.maps.LatLng(48.963115, 8.415196),
    new google.maps.LatLng(48.962967, 8.415183),
    new google.maps.LatLng(48.962278, 8.415127),
    new google.maps.LatLng(48.961675, 8.415055),
    new google.maps.LatLng(48.960932, 8.414988),
    new google.maps.LatLng(48.959337, 8.414862),
    new google.maps.LatLng(48.973187, 8.421922),
    new google.maps.LatLng(48.973043, 8.422118),
    new google.maps.LatLng(48.973007, 8.422165),
    new google.maps.LatLng(48.972979, 8.422219),
    new google.maps.LatLng(48.972865, 8.422394),
    new google.maps.LatLng(48.972779, 8.422503),
    new google.maps.LatLng(48.972676, 8.422701),
    new google.maps.LatLng(48.972606, 8.422806),
    new google.maps.LatLng(48.972566, 8.42284),
    new google.maps.LatLng(48.972508, 8.422852),
    new google.maps.LatLng(48.972387, 8.423011),
    new google.maps.LatLng(48.972099, 8.423328),
    new google.maps.LatLng(48.971704, 8.423783),
    new google.maps.LatLng(48.971481, 8.424081),
    new google.maps.LatLng(48.9714, 8.424179),
    new google.maps.LatLng(48.971352, 8.42422),
    new google.maps.LatLng(48.971248, 8.424327),
    new google.maps.LatLng(48.970904, 8.424781),
    new google.maps.LatLng(48.97052, 8.425283),
    new google.maps.LatLng(48.970337, 8.425553),
    new google.maps.LatLng(48.970128, 8.425832),
    new google.maps.LatLng(48.969756, 8.426331),
    new google.maps.LatLng(48.9693, 8.426902),
    new google.maps.LatLng(48.969132, 8.427065),
    new google.maps.LatLng(48.969092, 8.427103),
    new google.maps.LatLng(48.968979, 8.427172),
    new google.maps.LatLng(48.968595, 8.427634),
    new google.maps.LatLng(48.968372, 8.427913),
    new google.maps.LatLng(48.968337, 8.427961),
    new google.maps.LatLng(48.968244, 8.428138),
    new google.maps.LatLng(48.967942, 8.428581),
    new google.maps.LatLng(48.967482, 8.429094),
    new google.maps.LatLng(48.967031, 8.429606),
    new google.maps.LatLng(48.966732, 8.429986),
    new google.maps.LatLng(48.96668, 8.430058),
    new google.maps.LatLng(48.966633, 8.430109),
    new google.maps.LatLng(48.96658, 8.430211),
    new google.maps.LatLng(48.966367, 8.430594),
    new google.maps.LatLng(48.96591, 8.431137),
    new google.maps.LatLng(48.965353, 8.431806),
    new google.maps.LatLng(48.964962, 8.432298),
    new google.maps.LatLng(48.964868, 8.432486),
    new google.maps.LatLng(48.964518, 8.432913),
    new google.maps.LatLng(48.963435, 8.434173),
    new google.maps.LatLng(48.962847, 8.434953),
    new google.maps.LatLng(48.962291, 8.435935),
    new google.maps.LatLng(48.962224, 8.436074),
    new google.maps.LatLng(48.961957, 8.436892),
    new google.maps.LatLng(48.961652, 8.438886),
    new google.maps.LatLng(48.961284, 8.439955),
    new google.maps.LatLng(48.96121, 8.440068),
    new google.maps.LatLng(48.961064, 8.44072),
    new google.maps.LatLng(48.96104, 8.441411),
    new google.maps.LatLng(48.961048, 8.442324),
    new google.maps.LatLng(48.960851, 8.443118),
    new google.maps.LatLng(48.959977, 8.444591),
    new google.maps.LatLng(48.959913, 8.444698),
    new google.maps.LatLng(48.959623, 8.445065),
    new google.maps.LatLng(48.958902, 8.445158),
    new google.maps.LatLng(48.958428, 8.44457),
    new google.maps.LatLng(48.957687, 8.44334),
    new google.maps.LatLng(48.957583, 8.44324),
    new google.maps.LatLng(48.957019, 8.442787),
    new google.maps.LatLng(48.956603, 8.442322),
    new google.maps.LatLng(48.95638, 8.441602),
    new google.maps.LatLng(48.95579, 8.441382),
    new google.maps.LatLng(48.954493, 8.442133),
    new google.maps.LatLng(48.954361, 8.442206),
    new google.maps.LatLng(48.953719, 8.44265),
    new google.maps.LatLng(48.953096, 8.442915),
    new google.maps.LatLng(48.951617, 8.443211),
    new google.maps.LatLng(48.951496, 8.443246),
    new google.maps.LatLng(48.950733, 8.443428),
    new google.maps.LatLng(48.950126, 8.443536),
    new google.maps.LatLng(48.950103, 8.443784),
    new google.maps.LatLng(48.95039, 8.44401),
    new google.maps.LatLng(48.950448, 8.444013),
    new google.maps.LatLng(48.950536, 8.44404),
    new google.maps.LatLng(48.950493, 8.444141),
    new google.maps.LatLng(48.990859, 8.402808),
    new google.maps.LatLng(48.990864, 8.402768),
    new google.maps.LatLng(48.990995, 8.402539),
    new google.maps.LatLng(48.991148, 8.402172),
    new google.maps.LatLng(48.991385, 8.401312),
    new google.maps.LatLng(48.991405, 8.400776),
    new google.maps.LatLng(48.991288, 8.400528),
    new google.maps.LatLng(48.991113, 8.400441),
    new google.maps.LatLng(48.991027, 8.400395),
    new google.maps.LatLng(48.991094, 8.400311),
    new google.maps.LatLng(48.991211, 8.400183),
    new google.maps.LatLng(48.99106, 8.419334),
    new google.maps.LatLng(48.990538, 8.418718),
    new google.maps.LatLng(48.990095, 8.418086),
    new google.maps.LatLng(49.009644, 8.41736),
    new google.maps.LatLng(49.009254, 8.416844),
    new google.maps.LatLng(49.008855, 8.416397),
    new google.maps.LatLng(49.008483, 8.415963),
    new google.maps.LatLng(49.008015, 8.415365),
    new google.maps.LatLng(49.007558, 8.414735),
    new google.maps.LatLng(49.007472, 8.414323),
    new google.maps.LatLng(49.00763, 8.414025),
    new google.maps.LatLng(49.007767, 8.413987),
    new google.maps.LatLng(49.007486, 8.414452),
    new google.maps.LatLng(49.006977, 8.415043),
    new google.maps.LatLng(49.006583, 8.415552),
    new google.maps.LatLng(49.00654, 8.41561),
    new google.maps.LatLng(49.006516, 8.415659),
    new google.maps.LatLng(49.006378, 8.415707),
    new google.maps.LatLng(49.006044, 8.415362),
    new google.maps.LatLng(49.005598, 8.414715),
    new google.maps.LatLng(49.005321, 8.414361),
    new google.maps.LatLng(49.005207, 8.414236),
    new google.maps.LatLng(49.005751, 8.414062),
    new google.maps.LatLng(49.005996, 8.413881),
    new google.maps.LatLng(49.006092, 8.41383),
    new google.maps.LatLng(49.005998, 8.413899),
    new google.maps.LatLng(49.005114, 8.414365),
    new google.maps.LatLng(49.005022, 8.414441),
    new google.maps.LatLng(49.004823, 8.414635),
    new google.maps.LatLng(49.004719, 8.414629),
    new google.maps.LatLng(49.005069, 8.414176),
    new google.maps.LatLng(49.0055, 8.41365),
    new google.maps.LatLng(49.00577, 8.413291),
    new google.maps.LatLng(49.005839, 8.413159),
    new google.maps.LatLng(49.002651, 8.400628),
    new google.maps.LatLng(49.002616, 8.400599),
    new google.maps.LatLng(49.002702, 8.40047),
    new google.maps.LatLng(49.002915, 8.400192),
    new google.maps.LatLng(49.003137, 8.419887),
    new google.maps.LatLng(49.003414, 8.419519),
    new google.maps.LatLng(49.003629, 8.419237),
    new google.maps.LatLng(49.003688, 8.419157),
    new google.maps.LatLng(49.003716, 8.419106),
    new google.maps.LatLng(49.003798, 8.419072),
    new google.maps.LatLng(49.003997, 8.419186),
    new google.maps.LatLng(49.004271, 8.419538),
    new google.maps.LatLng(49.004577, 8.419948),
    new google.maps.LatLng(49.004828, 8.40026),
    new google.maps.LatLng(49.004999, 8.400477),
    new google.maps.LatLng(49.005113, 8.400651),
    new google.maps.LatLng(49.005155, 8.400703),
    new google.maps.LatLng(49.005192, 8.400749),
    new google.maps.LatLng(49.005278, 8.400839),
    new google.maps.LatLng(49.005387, 8.400857),
    new google.maps.LatLng(49.005478, 8.40089),
    new google.maps.LatLng(49.005526, 8.401022),
    new google.maps.LatLng(49.005598, 8.401148),
    new google.maps.LatLng(49.005631, 8.401202),
    new google.maps.LatLng(49.00566, 8.401267),
    new google.maps.LatLng(37.803986, 8.426035),
    new google.maps.LatLng(37.804102, 8.425089),
    new google.maps.LatLng(37.804211, 8.424156),
    new google.maps.LatLng(37.803861, 8.423385),
    new google.maps.LatLng(37.803151, 8.423214),
    new google.maps.LatLng(37.802439, 8.423077),
    new google.maps.LatLng(37.80174, 8.422905),
    new google.maps.LatLng(37.801069, 8.422785),
    new google.maps.LatLng(37.800345, 8.422649),
    new google.maps.LatLng(48.999633, 8.422603),
    new google.maps.LatLng(48.99975, 8.4217),
    new google.maps.LatLng(48.999885, 8.420854),
    new google.maps.LatLng(48.999209, 8.420607),
    new google.maps.LatLng(48.995656, 8.400395),
    new google.maps.LatLng(48.995203, 8.400304),
    new google.maps.LatLng(48.978738, 8.415584),
    new google.maps.LatLng(48.978812, 8.415189),
    new google.maps.LatLng(48.978824, 8.415092),
    new google.maps.LatLng(48.978833, 8.414932),
    new google.maps.LatLng(48.978834, 8.414898),
    new google.maps.LatLng(48.97874, 8.414757),
    new google.maps.LatLng(48.978501, 8.414433),
    new google.maps.LatLng(48.978182, 8.414026),
    new google.maps.LatLng(48.977851, 8.413623),
    new google.maps.LatLng(48.977486, 8.413166),
    new google.maps.LatLng(48.977109, 8.412674),
    new google.maps.LatLng(48.976743, 8.412186),
    new google.maps.LatLng(48.97644, 8.4118),
    new google.maps.LatLng(48.976295, 8.411614),
    new google.maps.LatLng(48.976158, 8.41144),
    new google.maps.LatLng(48.975806, 8.410997),
    new google.maps.LatLng(48.975422, 8.410484),
    new google.maps.LatLng(48.975126, 8.410087),
    new google.maps.LatLng(48.975012, 8.409854),
    new google.maps.LatLng(48.975164, 8.409573),
    new google.maps.LatLng(48.975498, 8.40918),
    new google.maps.LatLng(48.975868, 8.40873),
    new google.maps.LatLng(48.976256, 8.40824),
    new google.maps.LatLng(48.976519, 8.407928),
    new google.maps.LatLng(48.976539, 8.407904),
    new google.maps.LatLng(48.976595, 8.407854),
    new google.maps.LatLng(48.976853, 8.407547),
    new google.maps.LatLng(48.977234, 8.407087),
    new google.maps.LatLng(48.977644, 8.406558),
    new google.maps.LatLng(48.978066, 8.406017),
    new google.maps.LatLng(48.978468, 8.405499),
    new google.maps.LatLng(48.978866, 8.404995),
    new google.maps.LatLng(48.979295, 8.404455),
    new google.maps.LatLng(48.979695, 8.40395),
    new google.maps.LatLng(48.979982, 8.403584),
    new google.maps.LatLng(49.000295, 8.403223),
    new google.maps.LatLng(49.000664, 8.402766),
    new google.maps.LatLng(49.001043, 8.402288),
    new google.maps.LatLng(49.001399, 8.401823),
    new google.maps.LatLng(49.001727, 8.401407),
    new google.maps.LatLng(49.001853, 8.401247),
    new google.maps.LatLng(49.001894, 8.401195),
    new google.maps.LatLng(49.002076, 8.400977),
    new google.maps.LatLng(49.002338, 8.400603),
    new google.maps.LatLng(49.002666, 8.400133),
    new google.maps.LatLng(49.003048, 8.419634),
    new google.maps.LatLng(49.00345, 8.419198),
    new google.maps.LatLng(49.003791, 8.418998),
    new google.maps.LatLng(49.004177, 8.418959),
    new google.maps.LatLng(49.004388, 8.418971),
    new google.maps.LatLng(49.004404, 8.419128),
    new google.maps.LatLng(49.004586, 8.419524),
    new google.maps.LatLng(49.004835, 8.419927),
    new google.maps.LatLng(49.005116, 8.400307),
    new google.maps.LatLng(49.005282, 8.400539),
    new google.maps.LatLng(49.005346, 8.400692),
    new google.maps.LatLng(48.965769, 8.407201),
    new google.maps.LatLng(48.96579, 8.407414),
    new google.maps.LatLng(48.965802, 8.407755),
    new google.maps.LatLng(48.965791, 8.408219),
    new google.maps.LatLng(48.965763, 8.408759),
    new google.maps.LatLng(48.965726, 8.409348),
    new google.maps.LatLng(48.965716, 8.409882),
    new google.maps.LatLng(48.965708, 8.410202),
    new google.maps.LatLng(48.965705, 8.410253),
    new google.maps.LatLng(48.965707, 8.410369),
    new google.maps.LatLng(48.965692, 8.41072),
    new google.maps.LatLng(48.965699, 8.411215),
    new google.maps.LatLng(48.965687, 8.411789),
    new google.maps.LatLng(48.965666, 8.412373),
    new google.maps.LatLng(48.965598, 8.412883),
    new google.maps.LatLng(48.965543, 8.413039),
    new google.maps.LatLng(48.965532, 8.413125),
    new google.maps.LatLng(48.9655, 8.413553),
    new google.maps.LatLng(48.965448, 8.414053),
    new google.maps.LatLng(48.965388, 8.414645),
    new google.maps.LatLng(48.965323, 8.41525),
    new google.maps.LatLng(48.965303, 8.415847),
    new google.maps.LatLng(48.965251, 8.416439),
    new google.maps.LatLng(48.965204, 8.41702),
    new google.maps.LatLng(48.965172, 8.417556),
    new google.maps.LatLng(48.965164, 8.418075),
    new google.maps.LatLng(48.965153, 8.418618),
    new google.maps.LatLng(48.965136, 8.419112),
    new google.maps.LatLng(48.965129, 8.419378),
    new google.maps.LatLng(48.965119, 8.419481),
    new google.maps.LatLng(48.9651, 8.419852),
    new google.maps.LatLng(48.965083, 8.420349),
    new google.maps.LatLng(48.965045, 8.42093),
    new google.maps.LatLng(48.964992, 8.421481),
    new google.maps.LatLng(48.96498, 8.421695),
    new google.maps.LatLng(48.964993, 8.421843),
    new google.maps.LatLng(48.964986, 8.422255),
    new google.maps.LatLng(48.964975, 8.422823),
    new google.maps.LatLng(48.964939, 8.423411),
    new google.maps.LatLng(48.964902, 8.424014),
    new google.maps.LatLng(48.964853, 8.424576),
    new google.maps.LatLng(48.964826, 8.424922),
    new google.maps.LatLng(48.964796, 8.425375),
    new google.maps.LatLng(48.964782, 8.425869),
    new google.maps.LatLng(48.964768, 8.426089),
    new google.maps.LatLng(48.964766, 8.426117),
    new google.maps.LatLng(48.964723, 8.426276),
    new google.maps.LatLng(48.964681, 8.426649),
    new google.maps.LatLng(49.002012, 8.4042),
    new google.maps.LatLng(49.001574, 8.404911),
    new google.maps.LatLng(49.001055, 8.405597),
    new google.maps.LatLng(49.000479, 8.406341),
    new google.maps.LatLng(48.979996, 8.406939),
    new google.maps.LatLng(48.979459, 8.407613),
    new google.maps.LatLng(48.978953, 8.408228),
    new google.maps.LatLng(48.978409, 8.408839),
    new google.maps.LatLng(48.977842, 8.409501),
    new google.maps.LatLng(48.977334, 8.410181),
    new google.maps.LatLng(48.976809, 8.410836),
    new google.maps.LatLng(48.97624, 8.411514),
    new google.maps.LatLng(48.975725, 8.412145),
    new google.maps.LatLng(48.97519, 8.412805),
    new google.maps.LatLng(48.974672, 8.413464),
    new google.maps.LatLng(48.974084, 8.414186),
    new google.maps.LatLng(48.973533, 8.413636),
    new google.maps.LatLng(48.973021, 8.413009),
    new google.maps.LatLng(48.972501, 8.412371),
    new google.maps.LatLng(48.971964, 8.411681),
    new google.maps.LatLng(48.971479, 8.411078),
    new google.maps.LatLng(48.970992, 8.410477),
    new google.maps.LatLng(48.970467, 8.409801),
    new google.maps.LatLng(48.97009, 8.408904),
    new google.maps.LatLng(48.969657, 8.408103),
    new google.maps.LatLng(48.969132, 8.407276),
    new google.maps.LatLng(48.968564, 8.406469),
    new google.maps.LatLng(48.96798, 8.405745),
    new google.maps.LatLng(48.96738, 8.405299),
    new google.maps.LatLng(48.966604, 8.405297),
    new google.maps.LatLng(48.965838, 8.4052),
    new google.maps.LatLng(48.965139, 8.405139),
    new google.maps.LatLng(48.964457, 8.405094),
    new google.maps.LatLng(48.963716, 8.405142),
    new google.maps.LatLng(48.962932, 8.405398),
    new google.maps.LatLng(48.962126, 8.405813),
    new google.maps.LatLng(48.961344, 8.406215),
    new google.maps.LatLng(48.960556, 8.406495),
    new google.maps.LatLng(48.959732, 8.406484),
    new google.maps.LatLng(48.95891, 8.406228),
    new google.maps.LatLng(48.958182, 8.405695),
    new google.maps.LatLng(48.957676, 8.405118),
    new google.maps.LatLng(48.957039, 8.404346),
    new google.maps.LatLng(48.956335, 8.403719),
    new google.maps.LatLng(48.955503, 8.403406),
    new google.maps.LatLng(48.954665, 8.403242),
    new google.maps.LatLng(48.953837, 8.403172),
    new google.maps.LatLng(48.952986, 8.403112),
    new google.maps.LatLng(48.951266, 8.403355),
  ];
}</script>

<style>
  /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
       #map {
        height: 100%;
      }
      
      /* Optional: Makes the sample page fill the window. */
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      
      #floating-panel {
        position: absolute;
        top: 10px;
        left: 25%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: "Roboto", "sans-serif";
        line-height: 30px;
        padding-left: 10px;
      }
      
      #floating-panel {
        background-color: #fff;
        border: 1px solid #999;
        left: 25%;
        padding: 5px;
        position: absolute;
        top: 10px;
        z-index: 5;
      }
</style>


    <div id="floating-panel">
      <button id="toggle-heatmap">Toggle Heatmap</button>
      <button id="change-gradient">Change gradient</button>
      <button id="change-radius">Change radius</button>
      <button id="change-opacity">Change opacity</button>
    </div>
    <div id="map"></div>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDsyk0qAU5Mxwwsrma1JAYlqbUye9LdXCY&callback=initMap&libraries=visualization&v=weekly"
      async
    ></script>
  </body>
</html>
